@import '../../styles/partials/reset';
@import '../../styles/partials/typography';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';
@import '../../styles/partials/buttons';
@import '../../styles/partials/divider';
@import '../../styles/partials/forms';


.title {
    color: $Silver;

    @include mobile {
        margin-left: 16px;
    }
    @include tablet {
        margin-left: 24px;
    }
    @include desktop {
        margin-left: 24px;
    }
}

.videolist {
    display: flex;

    @include mobile {
        margin: 24px 16px 16px 16px;
    }

    &__image {
        width: 150px;
        margin-right: 16px;
        border-radius: 4px;
    }

    &__title {
        margin-bottom: 16px;
        font-family: avenirNextBold
    }
}
