@import '../../styles/partials/reset';
@import '../../styles/partials/typography';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';
@import '../../styles/partials/buttons';
@import '../../styles/partials/divider';
@import '../../styles/partials/forms';

.container {
    margin: 0 24px;

    @include desktop {
        border-left: 1px $Mercury solid;
        padding-left: 32px;
        min-width: 30%;
    }
}

.title {
    color: $Silver;

    @include desktop {
        margin: 32px 0;
    }
}

.videolist {
    display: flex;

    @include mobile {
        margin: 24px 16px 16px 0;
    }
    @include tablet {
        margin: 16px 16px 16px 0;
    }
    @include desktop {
        margin: 16px 16px 16px 0;
    }

    &__image {
        height: 100px;
        width: 150px;
        min-width: 150px;
        margin-right: 16px;
        border-radius: 4px;

        @include desktop {
            width: 150px;
            min-width: 150px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 250px;

        &--title {
            font-family: avenirNextBold;
        }

        &--channel {
        }
    }
}

.link {
    text-decoration: none;
    color: $BrainFlix-DarkBlack;
}