@import '../../styles/partials/reset';
@import '../../styles/partials/typography';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';
@import '../../styles/partials/buttons';
@import '../../styles/partials/divider';
@import '../../styles/partials/forms';

.mainvideo {

    .videoplayer-wrapper {

        width: 100%;
        background-color: $BrainFlix-DarkBlack;
    }
    
    &__videoplayer {

        width: 100%;

    }

    &__title {
        @include page-header;
        @include mobile {
            margin: 24px 16px 16px 16px;
        }
        @include desktop {
            margin: 36px 24px 8px 24px;
        }
        @include tablet {
            margin: 36px 24px 8px 24px;
        }
    }

    &__divider {
        @include tablet {
            visibility: hidden;
        }
        @include desktop {
            visibility: hidden;
        }
    }

    &__icons {
        display: flex;
        @include mobile {
            justify-content: space-around;
        }

        &--channel {
            @include mobile {
                margin-bottom: 16px;
            }
            @include tablet {
                margin-right: 24px;
            }
            @include desktop {
                margin-right: 24px;
            }
        }

        &--container {
            display: flex;

            @include mobile {
                margin-bottom: 16px;
            }
            @include tablet {
                margin-right: 24px;
            }
            @include desktop {
                margin-right: 24px;
            }

            img {
                margin-right: 0.5rem;
            }
        }

        @include mobile {
            margin: 24px 16px 8px 16px;
        }
        @include desktop {
            margin: 8px 24px 8px 24px;
        }
        @include tablet {
            margin: 8px 24px 8px 24px;
        }
    }

    &__description {

        @include mobile {
            margin: 24px 16px 16px 16px;
        }
        @include desktop {
            margin: 36px 24px 24px 24px;
        }
        @include tablet {
            margin: 36px 24px 24px 24px;
        }
    }
}

#icons-container {
    width: 50%;
    @include tablet {
        display: flex;
    }
    @include desktop {
        display: flex;
    }
}




