@mixin formFields {

    min-height: 36px;
        @include tablet {
            min-height: 40px;
        }
        @include desktop {
            min-height: 40px;
        }
    max-width: 100%;
    min-width: 240px;

    border-radius: 4px;
    border: 1px $Mercury solid; 

    &:focus {
        border: 2px $BrainFlix-Blue solid;
    }
    &:invalid {
        border: 1px D22D2D solid;
    }

    &[type=text] {
        padding: 12px;

        @include tablet {
            padding: 16px;
        }
        @include desktop {
            padding: 16px;
        }
    }
};