@mixin formFields {
    max-width: 100%;
    min-width: 240px;
    border-radius: 4px;
    border: 1px $Mercury solid; 
    min-height: 36px;

    @include tablet {
        min-height: 40px;
    }
    @include desktop {
        min-height: 40px;
    }

    &:active {
        border: 2px $BrainFlix-Blue solid;
    }
    &:invalid {
        border: 1px D22D2D solid;
    }

    &[type=text] {
        padding: 12px 12px 12px 36px;

        @include tablet {
            padding: 8px 16px 8px 36px;
        }
        @include desktop {
            padding: 8px 16px 8px 36px;
        }
    }
};