@import '../../styles/partials/reset';
@import '../../styles/partials/typography';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';
@import '../../styles/partials/buttons';
@import '../../styles/partials/divider';
@import '../../styles/partials/forms';


.header {

    .navbar {
        display: flex;


        @include mobile {
            justify-content: center;
            padding: 16px;
            flex-wrap: wrap;
        }
        @include tablet {
            padding: 24px;
            box-sizing: border-box;
            // max-width: 90%;
        }
        @include desktop {
            padding: 24px;
            width: 80%;
            margin: auto;
        }


        &-container {
            @include mobile {
                width: 100%;
                display: flex;
                justify-content: center;
            }
            @include tablet {
                display: flex;
                align-items: center;
                width: 50%;
            }
            @include desktop {
                display: flex;
                align-items: center;
                width: 50%;
            }

            &__logo {
                width: 100%;

                @include mobile {
                    margin-bottom: 1rem;
                    max-height: 25px;
                    max-width: 120px;
                }

                @include tablet {
                    max-height: 25px;
                    max-width: 120px;
                    margin-left: 24px;
                }
                @include desktop {
                    max-height: 25px;
                    max-width: 120px;
                    margin-left: 24px;
                }
            }
        }

        &-searchbar {
            position: relative;
            max-width: 100%;
            min-width: 240px;
            min-height: 36px;

            @include tablet {
                max-height: 40px;
            }
            @include desktop {
                max-height: 40px;
            }

            &__icon {

                @include mobile {
                    position: absolute;
                    top: 12px;
                    left: 12px;
                }
                @include tablet {
                    position: absolute;
                    top: 12px;
                    left: 12px;
                }
                @include desktop {
                    position: absolute;
                    top: 12px;
                    left: 12px;
                }

            }

            &__input {
                @include formFields;
            }
        }

        &__avatar {
            @include avatar;

            @include tablet {
                order: 4;
            }
            @include desktop {
                order: 4;
            }
        }

        &-btn {
            height: 40px;
            position: relative;

            @include mobile {
                width: 100%;
                margin-top: 16px;
            }
            @include tablet {
                width: 27%;
                margin-left: 24px;
            }
            @include desktop {
                width: 27%;
                margin-left: 24px;
            }

            &__icon {
                position: absolute;
                top: 8px;
                left: 12px; 
                z-index: 1;
            }

            &__upload {
                @include buttons;
                font-family: avenirNextDemi;
                position: absolute;

                @include mobile {
                    width: 100%;
                }
    
                @include tablet {
                    width: 100%;
                }
    
                @include desktop {
                    width: 100%;
                }
            }

        }
    }
}
