@import '../../styles/partials/reset';
@import '../../styles/partials/typography';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';
@import '../../styles/partials/buttons';
@import '../../styles/partials/divider';
@import '../../styles/partials/forms';


.header {

    .navbar {
        display: flex;

        @include mobile {
            justify-content: center;
            padding: 16px;
            flex-wrap: wrap;
        }
        @include tablet {
            padding: 24px;
        }
        @include desktop {
            padding: 24px;
        }


        div {
            @include mobile {
                width: 100%;
                display: flex;
                justify-content: center;
            }
            @include tablet {
                display: flex;
                align-items: center;
                width: 50%;
            }
            @include desktop {
                display: flex;
                align-items: center;
                width: 50%;
            }
        }

        &__logo {
            width: 100%;
            @include mobile {
                margin-bottom: 1rem;
            }
            max-height: 25px;
            max-width: 120px;
            margin-left: 24px;
        }

        &__searchbar {
            @include formFields;
            @include tablet {
                max-height: 40px;
            }
            @include desktop {
                max-height: 40px;
            }
        }

        &__avatar {
            @include avatar;
            @include tablet {
                order: 4;
            }
            @include desktop {
                order: 4;
            }
        }

        &__upload {
            @include buttons;
            font-family: avenirNextDemi;

            @include mobile {
                margin-top: 8px;
            }

            @include tablet {
                margin-left: 24px;
            }

            @include desktop {
                margin-left: 24px;
            }

        }
    }
}
