@import '../../styles/partials/reset';
@import '../../styles/partials/typography';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';
@import '../../styles/partials/buttons';
@import '../../styles/partials/divider';
@import '../../styles/partials/forms';


.header {

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;

        .div {
            width: 100%;
        }

        &__logo {
        
        }

        &__avatar {
            height: 36px;
            width: 36px;
            border-radius: 50%;
            padding-left: 1rem;
        }

        &__upload {
            display: block;
            align-self: center;
        }
    }
}